/*
0-600PX:          PHONE
600-900px:        Tablet Portrait
900px-1200px:     Tablet landscape
(1200-1800) is where your normal styles apply
1800px:           Big Desktop

*/
/* $breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em=16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Gaegu", cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  width: 50rem;
  height: auto;
  backface-visibility: hidden; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-color-blue {
  color: #176DED; }

.heading-color-black {
  color: #000; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }
  @media (max-width: 75em) {
    .u-left-text {
      text-align: center !important; } }
  @media (max-width: 56.25em) {
    .u-left-text {
      text-align: center !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-h {
  margin-top: 8rem; }

.contact__heading {
  font-weight: 700; }
  @media (max-width: 75em) {
    .contact__heading {
      text-align: center !important; } }

.contact__details {
  color: #fff; }
  .contact__details ul {
    list-style: none; }
    .contact__details ul li {
      font-size: 2rem;
      padding: 0.7rem; }
    .contact__details ul a, .contact__details ul:visited {
      text-decoration: none;
      color: #fff;
      border: none; }
  .contact__details--icon {
    color: #fff;
    padding-right: 1rem; }

@media (max-width: 75em) {
  .contact {
    text-align: center !important; } }

@media (max-width: 56.25em) {
  .contact {
    text-align: center !important; } }

.mapouter {
  position: relative;
  text-align: right;
  width: 52rem;
  height: auto; }
  @media (max-width: 75em) {
    .mapouter {
      width: 42rem;
      height: auto;
      margin: auto;
      text-align: center; } }
  @media (max-width: 56.25em) {
    .mapouter {
      width: 42rem;
      height: auto;
      margin: auto;
      text-align: center; } }
  @media (max-width: 37.5em) {
    .mapouter {
      width: 22rem;
      height: 22rem;
      margin: auto;
      text-align: center; } }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 52rem;
  height: auto; }
  @media (max-width: 75em) {
    .gmap_canvas {
      width: 42rem;
      height: auto;
      margin: auto; } }
  @media (max-width: 56.25em) {
    .gmap_canvas {
      width: 42rem;
      height: auto;
      margin: auto; } }
  @media (max-width: 37.5em) {
    .gmap_canvas {
      width: 22rem;
      height: 22rem;
      margin: auto; } }

.gmap_iframe {
  height: 400px !important; }
  @media (max-width: 75em) {
    .gmap_iframe {
      height: 300px;
      height: auto;
      margin: auto; } }
  @media (max-width: 56.25em) {
    .gmap_iframe {
      height: 300px;
      height: auto;
      margin: auto; } }
  @media (max-width: 37.5em) {
    .gmap_iframe {
      width: 22rem;
      height: auto;
      margin: auto; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.8); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff;
    color: #fff; }

.btn--blue {
  background-color: #176DED;
  color: #fff; }
  .btn--blue::after {
    background-color: #176DED;
    color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #59dc2a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  border-radius: 5px; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #59dc2a, #46B51E); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #59dc2a, #46B51E); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #59dc2a, #46B51E); }
      .card__side--back__heading {
        text-align: center;
        font-size: 4rem; }
      .card__side--back__text {
        font-size: 2rem;
        transform: uppercase;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 700; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .card__picture__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #000;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 70%; }
    .card__picture__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center; }
    .card__picture__price-box {
      text-align: center;
      margin-bottom: 8rem;
      color: #fff; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    position: absolute;
    outline-offset: 2rem;
    transition: transform .3s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #fff;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #59dc2a, #ffff00);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.deck {
  height: 52rem;
  width: 52rem;
  position: relative; }
  .deck__side {
    height: 52rem;
    width: 52rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden; }
    .deck__side__picture {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      @media (max-width: 56.25em) {
        .deck__side__picture {
          display: none; } }
    @media (max-width: 56.25em) {
      .deck__side {
        text-align: center;
        width: 52rem;
        height: 38rem; }
        .deck__side:not(:last-child) {
          margin-bottom: 30rem; } }
    @media (max-width: 37.5em) {
      .deck__side {
        text-align: center;
        width: 44rem;
        height: 34rem; } }
  .deck__heading {
    font-size: 2.5rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem; }
    @media (max-width: 56.25em) {
      .deck__heading {
        font-size: 4rem;
        padding: 3rem 0; } }
  .deck__text {
    color: #000;
    text-align: center; }
    .deck__text ul {
      list-style: none;
      width: 50%;
      margin: 0 auto; }
      .deck__text ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .5rem; }
        .deck__text ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
        @media (max-width: 56.25em) {
          .deck__text ul li {
            font-size: 2rem;
            padding: .75rem; } }
  @media (max-width: 75em) {
    .deck {
      width: 38rem;
      height: 38rem; } }
  @media (max-width: 56.25em) {
    .deck {
      text-align: center;
      width: 52rem;
      height: 38rem; }
      .deck:not(:last-child) {
        margin-bottom: 30rem; } }
  @media (max-width: 37.5em) {
    .deck {
      text-align: center;
      width: 44rem;
      height: 34rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 56.25em) {
    .row {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  height: 115vh;
  background-image: linear-gradient(to right bottom, white, white);
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  color: #176DED; }
  @media (max-width: 56.25em) {
    .header {
      height: 95vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50rem;
    height: auto; }

.section-about {
  background-color: #176DED;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 75em) {
    .section-about {
      height: 160rem;
      padding: 40rem 0 25rem; } }

.section-features {
  color: #000;
  padding: 20rem 0;
  background-color: #fff;
  margin-top: -10vh;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }

.section-cards {
  background-color: #176DED;
  padding: 30rem 0 15rem;
  margin-top: -16vh;
  height: 120rem; }
  @media (max-width: 75em) {
    .section-cards {
      height: 160rem; } }

.section-courses {
  background-color: #fff;
  padding: 20rem 0;
  margin-top: -10vh;
  transform: skewY(-5deg); }
  .section-courses > * {
    transform: skewY(5deg); }

.section-contact {
  background-color: #176DED;
  height: 99vh;
  margin-top: 10rem;
  padding-top: 10rem; }
  @media (max-width: 75em) {
    .section-contact {
      height: 100vh; } }
