.u-center-text{
  text-align: center;
}

.u-left-text{
  text-align: left;

  @include respond(tap-land) {
    text-align: center !important;
  }
  @include respond(tap-port) {
    text-align: center !important;
  }
}

.u-margin-bottom-big{
  margin-bottom: 8rem;
}

.u-margin-bottom-medium{
  margin-bottom: 4rem;
}

.u-margin-bottom-small{
  margin-bottom: 1.5rem;
}

.u-margin-top-big{margin-top: 6rem;}
.u-margin-top-h {margin-top: 8rem;}
